
.snapshot{
    display: flex;
    flex-direction: column;
    border: 1px dotted #a1a1a1;
    border-radius: 5px;                      //radius是半径的意思
    -moz-border-radius: 5px;

    // box-shadow: 0px 1px 1px 0 #888888;
    // -moz-box-shadow: 5px 5px 2px #888888;
    width: 100%;
    justify-content: center;
    margin: 0 0 40px 0;
    
    .row1{
        margin: 10px 10px 0 10px;
        line-height: 50px;
        font-size: 18px;
        font-weight: bold;
        margin: 0 30px 0 10px;
    }
    .row2{
        margin: 0 10px 0 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .img {
        line-height: 150px;
        margin-right: 20px;
        }
    }
    .row3{
        margin: 0 10px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // .createdAt{

        // }
        // .category{

        // }
        // .comments{

        // }
        }
}